{% extends 'base.html' %}

{% block content %}
    <h1>Author List</h1>
    {% for author in author_list %}
        <ul>
            {% if author %}
                <li>
                    <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }}</a>
                    {% if author.date_of_death is None %}
                        ({{ author.date_of_birth }} - )
                    {% else %}
                        ({{ author.date_of_birth }} - {{ author.date_of_death }})
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}

{% block bottom_content %}
    <form action="{% url 'author-create' %}">
        <input type="submit" value="create">
    </form>
{% endblock %}
